.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;

}

.itens {
    display: flex;
}

img {
    height: 350px;
    width: 400px;
}

#padding {
    padding: 150px;
    background-color: rgb(78, 16, 16);
}

#margin {
    padding: 160px;
    background-color: rgb(177, 93, 93);
}


.caixa {
    width: 400px;
    height: 600px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: flex;
    background-color: white;
    box-shadow: 10px 10px 5px black;

}

.caixa A {
    width: 500px;
    height: 550px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(255, 255, 255); 
    
}

main{
    display: column;
    color: rgb(102, 36, 36);
}

header {
    background-color: rgb(65, 15, 15);
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(223, 172, 172);
}